ul{ 
	list-style: none;
	background-color: #000080;
	font-family: Verdana;
	color: #FFF;
	margin-left: 0px;
}
ul li{
	text-align: center;
	margin: 5px;
}
li a{
	color: #FFF;
}
body{
	width: 100%;
	background-color: #000080;
}
header h1{
	text-align: center;
	min-height: 40px;
	margin-top: 10px;
	background-color: #FFF;
	font-family: RegulusFont;
	font-size: 3em;
	padding-bottom: 10px;
}

div.content{
	width: 96%;
	background-color: #FFF;
	margin: 0 auto 0 auto;
}

section h2{
	font-family: Tahoma;
	font-size: 2em;
	color: orange;
}

section h3, section p{
	font-family: Verdana;
	font-size: 1.5em;
	color: #000080;	
}

section h3{
	font-weight: bold;
}

section h2:before{
	content: ".: ";
}

@font-face
{
font-family: RegulusFont;
	src: url('../font/clrndnh.ttf');
}

