<style>
  #searchinput {
    width: 200px;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
</style>

<row>
<div class="col-md-4 hidden-xs hidden-md">
<nav class="affix">
    <div class="btn-group">
      <input type="search" ng-model="search.title" class="search-query form-control" placeholder="Search">
      <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
    </div>
    <ul class=" nav nav-pills nav-stacked">
        <li ng-repeat="curso in cursos | filter:search" du-scrollspy="section-{{curso.id}}"><a href="#section-{{curso.id}}" du-smooth-scroll>{{curso.title}}</a></li>
      <!--<li du-scrollspy="section-1"><a href="#section-1" du-smooth-scroll >Princípios e Fundamentos da Astrologia</a></li>
      <li du-scrollspy="section-2"><a href="#section-2" du-smooth-scroll>Regentes e Dispositores</a></li>
      <li du-scrollspy="section-3"><a href="#section-3" du-smooth-scroll >Astrologia da Saúde</a></li>
      <li du-scrollspy="section-4"><a href="#section-4" du-smooth-scroll >Desconstruindo Saturno</a></li>
      <li du-scrollspy="section-5"><a href="#section-5" du-smooth-scroll >A Arte da Síntese</a></li>-->
    </ul>
  </nav>
</div>
<div class="col-md-8">
  <h1>Programação de cursos</h1>
    <section id="section-{{curso.id}}" ng-repeat="curso in cursos">
      <h2>{{curso.title}}</h2>
      <p>{{curso.description}}</p>
      <table class="table">
        <tbody ng-repeat="class in curso.classes">
          <tr>
            <td>{{class.startDay}}</td>
            <td>{{class.duration}}</td>
            <td>{{class.frequency}}</td>
            <td>{{class.schedule}}</td>
            <td>{{class.professor}}</td>
          </tr>
        </tbody>
      </table>
    </section>

  <!--<section id="section-1">
    <h2>Princípios e Fundamentos da Astrologia</h2>
    <p>Módulo inicial destinado à quem não tem conhecimentos em astrologia, são passadas as bases da Astrologia: princípios, significado de planetas, signos, casas e aspectos.</p>
      <table class="table">
          <tbody>
              <tr>
                  <td>07/03 (sextas)</td>
                  <td>4 meses</td>
                  <td>1 aula por semana</td>
                  <td>tarde (14h30 às 16h30)</td>
                  <td>Profª. Nina M.F. Alves</td>
              </tr>
              <tr>
                  <td>11/03 (terças)</td>
                  <td>4 meses</td>
                  <td>1 aula por semana</td>
                  <td>noite (20h00 às 22h00)</td>
                  <td>Prof. Elmer Baumgratz</td>
              </tr>
              <tr>
                  <td>15/03 (sábados)</td>
                  <td>4 meses</td>
                  <td>2 aulas por mês de 4 horas (aulas quinzenais)</td>
                  <td>manhã (10h00 às 14h00)</td>
                  <td>PProf. Elmer Baumgratz</td>
              </tr>
              <tr>
                  <td>22/03 (sábados)</td>
                  <td>4 meses</td>
                  <td>2 aulas por mês de 4 horas (aulas quinzenais)</td>
                  <td>tarde (14h00 às 18h00)</td>
                  <td>Profª. Nina M.F. Alves</td>
              </tr>
          </tbody>
      </table>
  </section>

  <section id="section-2">
    <h2>Regentes e Dispositores</h2>
      <p>Quem "manda" em quem? A quem cada planeta serve? Como a posição zodiacal de cada planeta em um mapa astrológico pode interferir na vida de uma pessoa individualmente?
Compreender essa dinâmica no mapa astrológico amplia o horizonte interpretativo e enriquece muito o atendimento ao cliente. É importante lembrarmos sempre de agregar essa informação à leitura do mapa, pois muito se revelará ao cliente.</p>
    <table class="table">
          <tbody>
              <tr>
                  <td>dia 03/04 (quinta)</td>
                  <td>2 meses</td>
                  <td>1 aula por semana</td>
                  <td>tarde (14h15 às 16h15)</td>
                  <td>Profª Patricia Valente</td>
              </tr>
          </tbody>
      </table>
  </section>
<section id="section-3">
    <h2>Astrologia da Saúde</h2>
      <p>Astrologia da Saúde traz uma conscientização das tendências individuais em questões de saúde, analisando as correspondências astrológicas com as predisposições às enfermidades, sugerindo terapias alternativas, hábitos e dietas individuais mais adequados, em função do Mapa Astrológico Natal.
É importante resaltar que o Astrólogo investiga e identifica as influências astrológicas na resistência física e psíquica; as doenças e sua relações com os aspectos planetários. Qualquer diagóstico e tratamento deverá ser estabelecido por um profissional da área médica e de saúde.</p>
    <table class="table">
          <tbody>
              <tr>
                  <td>dia 07/04 (segunda)</td>
                  <td>6 meses</td>
                  <td>1 aula por semana</td>
                  <td>tarde (14h30 às 16h30)</td>
                  <td>Profª Sandra Giannoni</td>
              </tr>
          </tbody>
      </table>
  </section>
<section id="section-4">
    <h2>Desconstruindo Saturno</h2>
      <p>O Grande Maléfico, último planeta visível a olho nu, é sentido, literalmente, na pele, através de problemas físicos e psíquicos. Distúrbios alimentares, depressões e inseguranças, excesso de responsabilidade e síndromes são acionadas por ele. Os obstáculos serão identificados e fornecidas as ferramentas para lidar com as dificuldades.
Programa: Saturno nas Casas / Distúrbios de alimentação / Distúrbios emocionais / Ciclos e respectivas crises / Reconstruindo Saturno: ferramentas úteis.</p>
    <table class="table">
          <tbody>
              <tr>
                  <td>dia 09/04 (quartas)</td>
                  <td>1 mes</td>
                  <td>1 aula por semana</td>
                  <td>tarde (14h30 às 16h30)</td>
                  <td>Profª.Elizabeth Nakata</td>
              </tr>
          </tbody>
      </table>
  </section>
<section id="section-5">
    <h2>A Arte da Síntese</h2>
    <h3>interpretação de mapas natais</h3>
      <p>Uma das principais dificuldades do estudante de Astrologia é organizar as informações para obter a síntese e elaborar a interpretação do Mapa Natal. Desenvolvido a partir de diagramas simples, este curso ensina como descrever sobre diversos temas específicos de maneira precisa e objetiva, à luz do saber astrológico.</p>
    <table class="table">
          <tbody>
              <tr>
                  <td>dia 09/04 (quartas)</td>
                  <td>2 mesese</td>
                  <td>1 aula por semana</td>
                  <td>tarde (14h30 às 16h30)</td>
                  <td>Prof. Henrique G. Wiederspahn</td>
              </tr>
          </tbody>
      </table>
  </section>-->
  </div>
    </row>